body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
h1 {
    color: blue;
    text-align: center;
}
.navbar{
   margin: 0 auto;
   width: 100%;
   background-color: #333;
   padding: 0.5rem;
   border-radius: 10px;
}
.nav{
    position: relative;
}
ul{
    display: flex;
    justify-content: center;
}
li{
    margin-left: 30px;
    position: relative;
    left: -23px;
    list-style-type: none;
    color: white;
}
button{
    position: relative;
    padding: 13px;
    font-size: 16px;
    border-radius: 6px;
    left: -23px;
    list-style-type: none;
    color: white;
    background: #222;
    border: none;
}
button:hover {
    outline: 2px solid #444;
    box-shadow: inset 0px 5px 25px #1b1a1a;
}